$color1:#D9DADA;
$color2:#FBA367;
$color3:#41DD8F;
$color4:#319ED9;
$color5:#050505;
$color6:#9AD1C7;
$color7:#41637B;
$color8:#F3C9AB;



$color_1: #41637B;
$color_2: #319ED9;
$color_3: #fff;
$color_11: #444444;
$color_20: #565396;

$color_17: #2a2af0;

$background-color_1: #fff;
$background-color_2: #eeeef5;
$background-color_3: #319ED9;
$border-color_1: #319ED9;
$border-color_2: #fff;
$border-color_3: #5a5af3;
$border-top-color_1: #eee;

$font-family_1: "Poppins", sans-serif;
$font-family_2: "Raleway", sans-serif;
$font-family_3: "Open Sans", sans-serif;