@import './theme';

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-family_3;
    color: #444444;
}

a {
    color: $color1;
    text-decoration: none;
}

a:hover {
    color: $color2;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family_2;
}

html {
    &::-webkit-scrollbar-track {
        background-color: #000000;
    }

    &::-webkit-scrollbar {
        border-radius: 1rem;
        width: 2px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color1;
    }
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: $color1;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: $dark_color_1;
    line-height: 0;
}

.back-to-top:hover {
    background: $dark_color_1;
}

.back-to-top:hover i {
    color: $color1;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

@import './partials/preloader';
@import './partials/header';

.get-started-btn {
    color: $white;
    border-radius: 4px;
    padding: 7px 25px 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid $color1;
}

.get-started-btn:hover {
    background: $color3;
    color: #020202;
}

@media (max-width: 992px) {
    .get-started-btn {
        padding: 7px 20px 8px 20px;
        margin-right: 15px;
    }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/**
  * Desktop Navigation 
  */
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 600;
    color: $white;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: $color1;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: $white;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: $dark_color_1;
    font-weight: 400;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    background-color: $color1;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    color: $white;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: $white;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: $dark_color_1;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: $dark_color_1;
    background-color: $color1;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: $white;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
    color: $dark_color_1;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    background-color: $color1;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

@import './partials/hero';

/*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: $font-family_1;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: $color4;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-family_1;
    color: $dark_color_1;
}

/* Teamm */
.team {
    background: $bg_color1;
    padding: 0.8rem 0;
    text-align: center;
}

.team .mycol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team img {
    width: 50%;
    height: auto;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 1rem 0;

    &.md {
        width: 35%;
    }

    &.sm {
        width: 30%;
    }
}

.team img:hover {
    filter: none;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .team img {
        width: 50%;
    }
}

@media (max-width: 575px) {
    .team img {
        width: 65%;

        &.md {
            width: 45%;
        }

        &.sm {
            width: 40%;
        }
    }    
}

/*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/

.about .content h3 {
    font-weight: 700;
    font-size: 28px;
    font-family: $font-family_1;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding: 0 0 8px 26px;
    position: relative;
}

.about .content ul i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: -3px;
    color: $color1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

/*Time Line*/

#timeline {
    background-color: $bg_color1;
    position: relative;

    h5 {
        // font-family: $font-family_3;
        font-weight: 700;

        span {
            font-family: $font-family_3;
            ;
            opacity: 0.5;
            font-weight: 700;
            font-size: 1.1rem;
        }
    }

    .text-right {
        text-align: right;
    }

    .circle {
        padding: 13px 20px;
        border-radius: 50%;
        background-color: $color1;
        color: $white;
        max-height: 50px;
        z-index: 2;
    }

    .how-it-works.row .col-2 {
        align-self: stretch;
        position: relative;
    }

    .how-it-works.row .col-2::after {
        content: "";
        position: absolute;
        border-left: 3px solid $color1;
        z-index: 1;
    }

    .how-it-works.row .col-2.bottom {

        &:nth-child(odd) {
            &::after {
                height: 50%;
                left: 50%;
                top: 50%;
            }
        }

        &:nth-child(even) {
            &::after {
                height: 50%;
                left: calc(50% - 3px);
                top: 50%;
            }
        }

    }

    .how-it-works.row .col-2.full {

        &:nth-child(odd) {
            &::after {
                position: absolute;
                height: 100%;
                left: calc(50%);
            }
        }

        &:nth-child(even) {
            &::after {
                position: absolute;
                height: 100%;
                left: calc(50% - 3px);
            }
        }
    }

    .how-it-works.row .col-2.top {
        &:nth-child(odd) {
            &::after {
                height: 50%;
                left: 50%;
                top: 0;
            }
        }

        &:nth-child(even) {
            &::after {
                height: 50%;
                left: calc(50% - 3px);
                top: 0;
            }
        }
    }

    .timeline div {
        padding: 0;
        height: 40px;
    }

    .timeline hr {
        // border-top: 3px solid $color1;
        height: 2.5px;
        background-color: $color1;
        opacity: 1;
        margin: 0;
        top: 17px;
        position: relative;
    }

    .timeline .col-2 {
        display: flex;
        overflow: hidden;
    }

    .timeline .corner {
        border: 3px solid $color1;
        width: 100%;
        position: relative;
        border-radius: 15px;
    }

    .timeline .top-right {
        left: 50%;
        top: -50%;
    }

    .timeline .left-bottom {
        left: -50%;
        top: calc(50% - 3px);
    }

    .timeline .top-left {
        left: -50%;
        top: -50%;
    }

    .timeline .right-bottom {
        left: 50%;
        top: calc(50% - 3px);
    }
}

// --------------------------

#recruiters {
    background-color: $bg_color1;
}

.clients .clients-wrap {
    border-top: 1px solid #eceff0;
    border-left: 1px solid #eceff0;
}

.clients .client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #eceff0;
    border-bottom: 1px solid #eceff0;
    overflow: hidden;
    background: $white;
    height: 120px;
    padding: 40px;
}

.clients .client-logo img {
    max-width: 50%;
    // filter: grayscale(100);
}

.clients .client-logo .big {
    max-width: 70%;
}

.clients .client-logo .small {
    max-width: 30%;
}

.clients .client-logo:hover img {
    filter: none;
    transform: scale(1.1);
}

.clients img {
    transition: all 0.4s ease-in-out;
}

@media (max-width: 991px) {
    .clients .client-logo img {
        max-width: 100%;
    }

    .clients .client-logo .big {
        max-width: 120%;
    }

    .clients .client-logo .small {
        max-width: 80%;
    }
}

/*--------------------------------------------------------------
  # Features
  --------------------------------------------------------------*/
.features .icon-box {
    padding-left: 15px;
}

.features .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
}

.features .icon-box i {
    font-size: 48px;
    float: left;
    color: $color1;
}

.features .icon-box p {
    font-size: 15px;
    color: #848484;
    margin-left: 60px;
}

.features .image {
    background-position: center center;
    background-repeat: no-repeat;
    // background-size: cover;
    min-height: 400px;
}

/*--------------------------------------------------------------
  # Cta
  --------------------------------------------------------------*/
.cta {
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)),
        url("/assets/img/background.jpg") fixed center center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba($color: #000000, $alpha: 0.3);
    padding: 60px 0;
}

.cta h3 {
    color: $white;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: $white;
}

.cta .cta-btn {
    font-family: $font-family_2;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid $white;
    color: $white;
}

.cta .cta-btn:hover {
    background: $color1;
    border-color: $color1;
    color: $dark_color_1;
}

/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
.contact .info {
    width: 100%;
    background: $white;
}

.contact .info i {
    font-size: 20px;
    background: $color1;
    color: $dark_color_1;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: $dark_color_1;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #484848;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .php-email-form {
    width: 100%;
    background: $white;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: $white;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: $white;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: $white;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: $color1;
}

.contact .php-email-form input {
    height: 2.7rem;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
    background: $color1;
    border: 0;
    padding: 10px 24px;
    color: $dark_color_1;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: $color5;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.inner_main_page{
    margin-top: 74px;
}

/*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background: whitesmoke;
    min-height: 40px;
}

.breadcrumbs h2 {
    font-size: 28px;
    font-weight: 400;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #2f2f2f;
    content: "/";
}

@media (max-width: 992px) {
    // .breadcrumbs {
    //     margin-top: 68px;
    // }

    .breadcrumbs .d-flex {
        display: block !important;
    }

    .breadcrumbs ol {
        display: block;
    }

    .breadcrumbs ol li {
        display: inline-block;
    }
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
#faq {
    background-color: $bg_color1;
}

.faq .faq-list {
    padding: 0 100px;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 20px;
    background: $white;
    border-radius: 4px;
    position: relative;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.15);
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-family: $font-family_1;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    cursor: pointer;
}

.faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: $color4;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #343a40;
}

.faq .faq-list a.collapsed:hover {
    color: $color5;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}


// @import './register';
@import './updates';
@import './inner_pages';
@import './partials/footer';