<section id="candidates" class="section">
    <div class="container">
        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                <div class="forms">
                    <div class="log_head">
                        <h3>Find candidates</h3>
                    </div>
                    {{#if message}}<p class="error">{{message}}</p>{{/if}}
                    <form action="/admin/candidates/search" method="post" role="form" class="form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="text" id="text" placeholder="Launchpad ID or Email">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-primary">Find Canidate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>