<section class="section dashboard">
    <div class="row">

        <div class="col-lg-12">
            <div class="row">

                <div class="col-12 col-sm-6 col-md-4 col-xl-3">

                    <div class="card info-card">
                        <div class="card-body">
                            <h5 class="card-title">Total Registration <span> | This Year</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon blue-card rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>4543</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">

                    <div class="card info-card">
                        <div class="card-body">
                            <h5 class="card-title">Valid Registration <span> | This Year</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon green-card rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>4538</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">

                    <div class="card info-card">
                        <div class="card-body">
                            <h5 class="card-title">DWMS Registration</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon organge-card rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>3548</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">

                    <div class="card info-card">
                        <div class="card-body">
                            <h5 class="card-title">Google Form Registration</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon organge-card rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>2721</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>