<footer id="footer">

    <div class="container">
        <div class="copyright">
            Copyright &copy; 2023 <strong><span>IEEE Kerala Section</span></strong>. All Rights Reserved <br>
            Made With 🤍 By <strong><span> <a href="https://ieee-link.org/" target="_blank">IEEE LINK Team</a>
                </span></strong>
        </div>
    </div>
</footer>