<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8 row justify-content-center">
                <h1>
                    Launchpad Kerala
                    {{!-- <span> 2023</span> --}}
                </h1>
                <h2>
                    Powered by IEEE Kerala Section and GTech MuLearn, Sponsored by KKEM and Co-Sponsored by NIELIT
                </h2>
            </div>
        </div>

    </div>
</section><!-- End Hero -->