<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8 row justify-content-center">
                <h1>IEEE <span>Job Fair</span> 2022</h1>
                <h2>One of the most prestigious events of IEEE Kerala Section that is determined to serve the goal
                    of
                    creating opportunities for engineering students and graduates.</h2>
            </div>
            <div class="row gy-3 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                <div class="col-xl-6 col-md-4">
                    <div class="icon-box" style="border-color: #319ED9;">
                        <i class="ri-calendar-todo-line"></i>
                        <h3><a style="color: #319ED9;" href="/instructions/choosing-recruiters">Instruction & registration form for choosing recruiters</a></h3>
                    </div>
                </div>>
            </div>
            <div class="row gy-3 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                <div class="col-xl-3 col-md-4">
                    <div class="icon-box">
                        <i class="ri-calendar-todo-line"></i>
                        <h3><a href="/rank-list">Online Test Rank List</a></h3>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4">
                    <div class="icon-box">
                        <i class="ri-notification-3-line"></i>
                        <h3><a href="/updates">Updates and Notifications</a></h3>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->