<!-- ======= Clients Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-3 col-md-6 col-12 mycol">
                <img src="/assets/img/team/IEEE Kerala Section Logo.png" class="img-fluid" alt="IEEE Kerala Section"
                    data-aos="zoom-in">
            </div>
            <div class="col-lg-3 col-md-6 col-12 mycol">
                <img src="/assets/img/team/link.png" class="img-fluid" alt="IEEE LINK" data-aos="zoom-in">
            </div>
            <div class="col-lg-3 col-md-6 col-12 mycol">
                <img src="/assets/img/team/Logo.png" class="img-fluid" alt="GTech Mu Learn" data-aos="zoom-in">
            </div>
            <div class="col-lg-3 col-md-6 col-12 mycol">
                <img src="/assets/img/team/infoparkLogo.svg" class="img-fluid" alt="IEEE Kerala Section YP"
                    data-aos="zoom-in">
            </div>

        </div>

    </div>
</section><!-- End Clients Section -->

<!-- ======= About Section ======= -->
<section id="about" class="about bgb">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-lg-5 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="/assets/img/services.png" class="img-fluid" alt="About">
            </div>
            <div class="col-lg-5 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <div class="section-title">
                    <h2>About</h2>
                    <p>IEEE JOB Fair</p>
                </div>

                <h3>What is IEEE Job Fair ?</h3>
                <p class="fst-italic mt-4">
                    One of the most prestigious event of IEEE Kerala Section that is determined to serve the
                    goal of creating opportunities for engineering students and graduates.
                </p>
                <p>The ultimate platform
                    for companies to choose their successors from the largest talent pool in Kerala. Aimed at
                    refining the finest of the lot, it broadens opportunities for undergrad students, graduates
                    and professionals alike to take a giant leap towards their lucrative career.</p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Clients Section ======= -->
<section id="recruiters" class="clients">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Our</h2>
            <p>Recruiters</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/ARS.jpg" class="img-fluid" alt="benlycos">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/benlycos.png" class="img-fluid" alt="benlycos">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/coexin.jpg" class="img-fluid small" alt="coexin">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/cool minds.png" class="big img-fluid" alt="Cool Minds">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/Design Alpha.png" class="img-fluid" alt="Design Alpha">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/gh_logo_tag_stacked_rgb_stacked_rgb.svg" class="img-fluid"
                        alt="Guide House">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/Geojith Technologies.png" class="img-fluid"
                        alt="Geojith Technologies">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/hermoneytalks.png" class="img-fluid big" alt="hermoneytalks">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/hrblock.png" class="img-fluid small" alt="H&R Block">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/LEEYE-T LLP .png" class="img-fluid" alt="LEEYE-T LLP">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/Logo-Linsys - Jeena Yousuf.PNG" class="img-fluid" alt="Linsys">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/mobiotics - Silpa Tirumalai.png" class="img-fluid big"
                        alt="mobiotics">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/Panashi.png" class="img-fluid" alt="Panashi">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/PITS Logo - Tony Joseph.png" class="img-fluid small" alt="PITS">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/Qmetron.jpg" class="img-fluid" alt="Qmetron">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/Redux_Logomark_RGB - Anna Philip.png" class="img-fluid"
                        alt="Redux Logomark">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/Reizend pvt ltd logo - Deethu T D.png" class="img-fluid"
                        alt="Reizend pvt ltd">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/SIL - JOBS AT SOFTLAND.jpg" class="img-fluid small" alt="SIL">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/Smart HMS - Deethu T D.jpg" class="img-fluid big"
                        alt="Smart HMS ">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/spawos.png" class="img-fluid big" alt="spawos">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/TALogo .png" class="img-fluid small" alt="TALogo">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/Telestaion.jpg" class="img-fluid big" alt="Telestaion">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/TP-LOGO_CMYK_-01 - Anie Mathew.png" class="img-fluid"
                        alt="TP-LOGO">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/Triassic.jpg" class="img-fluid big" alt="Triassic">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo - mozilor.jpg" class="img-fluid big" alt="mozilor">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo - nest digital.jpg" class="img-fluid big" alt="nest digital">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo - one soft.png" class="img-fluid" alt="one soft">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo - Livares.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo - open trends.png" class="img-fluid big" alt="open trend">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo - Squad S.gif" class="img-fluid" alt="Squad">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo - Vuelogix.png" class="img-fluid big" alt="Vuelogix">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo -Codelynks.png" class="img-fluid big" alt="Codelynks">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo mettle.png" class="img-fluid small" alt="mettle">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo SJ.jpg" class="img-fluid small" alt="SJ">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/Logo- 90 plus my tution app.jpeg" class="img-fluid"
                        alt="90 plus my tution app">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo- Aaba soft.png" class="img-fluid" alt="Aba soft">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a href="https://fayausa.com/" target="_blank">
                    <div class="client-logo" data-aos="zoom-in">
                        <img src="./assets/img/Recruiters/logo- faya.jpg" class="img-fluid" alt="faya">
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/logo-aTeam.jpg" class="img-fluid" alt="aTeam">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/pearsoft.jpg" class="img-fluid" alt="Pearsoft">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/kimball.png" class="img-fluid" alt="Kimball Electronics">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/qwder.png" class="img-fluid" alt="QWY Technologies">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/dinoct.png" class="img-fluid" alt="Dinoct Solutions">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/kott.jpg" class="img-fluid big" alt="Kott Software">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/suyatti.png" class="img-fluid" alt="Suyatti Technologies">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/accubits.jpeg" class="img-fluid" alt="Accubits">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="client-logo" data-aos="zoom-in">
                    <img src="./assets/img/Recruiters/orisys.png" class="img-fluid big" alt="Orisys India">
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a href="https://www.ecloudcontrol.com" target="_blank">
                    <div class="client-logo" data-aos="zoom-in">
                        <img src="./assets/img/Recruiters/hybcloud.png" class="img-fluid big"
                            alt="Hybcloud Technologies">
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a href="https://www.frestonanalytics.com" target="_blank">
                    <div class="client-logo" data-aos="zoom-in">
                        <img src="./assets/img/Recruiters/freston.png" class="img-fluid big" alt="Freston Analytics">
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a href="https://www.acsiatech.com" target="_blank">
                    <div class="client-logo" data-aos="zoom-in">
                        <img src="./assets/img/Recruiters/acsia.jfif" class="img-fluid small" alt="Freston Analytics">
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a href="https://www.uvjtech.com" target="_blank">
                    <div class="client-logo aos-init aos-animate" data-aos="zoom-in">
                        <img src="./assets/img/Recruiters/uvj.jpg" class="img-fluid big" alt="Freston Analytics">
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a href="https://www.tataelxsi.com" target="_blank">
                    <div class="client-logo aos-init aos-animate" data-aos="zoom-in">
                        <img src="./assets/img/Recruiters/tataelxi.png" class="img-fluid small" alt="Tata Elxsi">
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <a href="https://www.sniqsys.com/" target="_blank">
                    <div class="client-logo aos-init aos-animate" data-aos="zoom-in">
                        <img src="./assets/img/Recruiters/sniqaya.png" class="img-fluid small"
                            alt="Sniqsys Technosphere Pvt Ltd">
                    </div>
                </a>
            </div>

            <!-- <div class="col-lg-3 col-md-4 col-6">
                        <div class="client-logo" data-aos="zoom-in">
                            <img src="./assets/img/Recruiters/" class="img-fluid big" alt="">
                        </div>
                    </div> -->

        </div>

    </div>
</section><!-- End Clients Section -->

<!-- ======= Features Section ======= -->
<section id="process" class="features">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About the</h2>
            <p>Process</p>
        </div>

        <div class="row">
            <div class="image col-lg-6" style='background-image: url("/assets/img/counts-img.svg");'
                data-aos="fade-right"></div>
            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bx-edit-alt"></i>
                    <h4>Initial Registration</h4>
                    <p>The candidates interested in taking part in the jobfair can register themselves by
                        providing their data and resume.</p>
                    <!-- General aptitude and problem solving tests – Only the top percentile students will be
                                eligible for next round. -->
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bxs-edit"></i>
                    <h4>Round 1 - Entry Exam </h4>
                    <p>Company specified test or advanced test based on the position applied for by the
                        candidate will be conducted in an online mode.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bx-trophy"></i>
                    <h4>Round 2 - Offline Interview at Infopark, Kochi</h4>
                    <p>On being shortlisted after round 1, candidates are to attend a second round comprising of
                        interviews presided either directlty by the employer or a jury panel consisting of
                        company
                        representatives. This will be held in an offline mode at Infopark</p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Features Section -->

<section id="timeline">

    <div class="container">

        <div class="section-title">
            <h2>Timeline</h2>
            <p>IEEE JOB Fair 2022</p>
        </div>

        <!--first section-->
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">1</div>
            </div>
            <div class="col-6">
                <h5><span>- 25/06/2022</span><br> Registrations close </h5>
            </div>
        </div>
        <!--path between 1-2-->
        <div class="row timeline">
            <div class="col-2">
                <div class="corner top-right"></div>
            </div>
            <div class="col-8">
                <hr />
            </div>
            <div class="col-2">
                <div class="corner left-bottom"></div>
            </div>
        </div>
        <!--second section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-6 text-right">
                <h5><span>26/07/2022 -</span> <br>Information session for registrants</h5>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">2</div>
            </div>
        </div>
        <!--path between 2-3-->
        <div class="row timeline">
            <div class="col-2">
                <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
                <hr />
            </div>
            <div class="col-2">
                <div class="corner top-left"></div>
            </div>
        </div>
        <!--third section-->
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">3</div>
            </div>
            <div class="col-6">
                <h5><span>06/07/2022 -</span> <br>Mock Test</h5>
            </div>
        </div>
        <!--path between 3-4-->
        <div class="row timeline">
            <div class="col-2">
                <div class="corner top-right"></div>
            </div>
            <div class="col-8">
                <hr />
            </div>
            <div class="col-2">
                <div class="corner left-bottom"></div>
            </div>
        </div>
        <!--fourth section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-6 text-right">
                <h5><span>09/07/2022 -</span> <br> Round 1 - Online Test</h5>
            </div>
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">4</div>
            </div>
        </div>

        <!--path between 4-5-->
        <div class="row timeline">
            <div class="col-2">
                <div class="corner right-bottom"></div>
            </div>
            <div class="col-8">
                <hr />
            </div>
            <div class="col-2">
                <div class="corner top-left"></div>
            </div>
        </div>
        <!--5th section-->
        <div class="row align-items-center how-it-works d-flex">
            <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">5</div>
            </div>
            <div class="col-6">
                <h5><span>12/07/2022 -</span> <br>Announcement of test results</h5>
            </div>
        </div>

        <!--path between 5-6-->
        <div class="row timeline">
            <div class="col-2">
                <div class="corner top-right"></div>
            </div>
            <div class="col-8">
                <hr />
            </div>
            <div class="col-2">
                <div class="corner left-bottom"></div>
            </div>
        </div>
        <!--fourth section-->
        <div class="row align-items-center justify-content-end how-it-works d-flex">
            <div class="col-6 text-right">
                <h5><span>22/07/2022 & 23/07/2022 -</span> <br>Round 2 - offline Interview at Infopark, Kochi
                </h5>
            </div>
            <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
                <div class="circle font-weight-bold">6</div>
            </div>
        </div>
    </div>

</section>

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class=" row justify-content-center">
            <div class="text-center col-lg-6">
                <h3>For more information and live updates</h3>
                <a class="cta-btn" href="https://go.irl.com/0KSM?g=jnbNExdT&k=nGIdKNNB-jnbNExdT" target="_blank">Join
                    IRL
                    Group</a>
            </div>
        </div>

    </div>
</section><!-- End Cta Section -->

{{!-- <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Frequently Asked</h2>
            <p>Questions</p>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                        data-bs-target="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet
                            non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor
                            purus non.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-2" class="collapsed">Feugiat scelerisque varius morbi enim
                        nunc? <i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum
                            velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend
                            donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
                            cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing
                        elit? <i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus
                            pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit.
                            Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis
                            tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam
                        sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in
                            est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl
                            suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare.
                        Varius vel pharetra vel turpis nunc eget lorem dolor? <i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo
                            integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc
                            eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
                        </p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section --> --}}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>IEEE Kerala Section, HarmonIEEE, 1st Floor, Cherian’s Square, Trivandrum</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@ieeejobfair.com</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form
                    action="https://docs.google.com/forms/d/e/1FAIpQLSd59jLE5X9cTLrJUTjN71YVB4SYU69K6ryKbrwDml4Y_Mws0Q/formResponse"
                    id="bootstrapForm" method="POST" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" id="1470245309" class="form-control" type="text" name="entry.1470245309"
                                placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" id="1133987256" name="entry.1133987256"
                                placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input class="form-control" id="1811965206" type="text" name="entry.1811965206"
                            placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" rows="5" placeholder="Message" id="1181040387"
                            name="entry.1181040387" required></textarea>
                    </div>

                    <input type="hidden" name="fvv" value="1">
                    <input type="hidden" name="fbzx" value="-4258273766614190112">
                    <input type="hidden" name="pageHistory" value="0">
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->