<div class="col-12 col-md-6">
    <div class="form-group">
        <label for="name">Rank:</label>
        <input type="text" class="form-control" name="rank" id="rank" placeholder="{{rank}}" value="{{rank}}" required
            disabled>
    </div>
</div>