<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Results and Ranklists Published</h3>
                            <p>
                                <Strong>
                                    We are delighted to inform you that the results of the Online Test for Launchpad
                                    Kerala 2023 have been compiled, and the shortlisting process has been completed. To
                                    view your results, please visit our website and navigate to the results page. You
                                    can then access your results using your Launchpad Kerala ID and registered email ID.
                                </Strong>
                            </p>
                            <ul>
                                <li>
                                    <i class="bx bx-link"></i>
                                    <a href="/results">View Results</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>The Online Test for the Launchpad Kerala 2023 shceduled on 27.04.2023</h3>
                            <p>
                                We are pleased to inform you that the Online test for the Launchpad Kerala has been
                                scheduled for 27.04.23. This Online Test will be a crucial component in determining
                                the ranklist for the job fair, so participants are requested to pay careful
                                attention and give it their best shot!
                            </p>
                            <p><strong style="color: #e82f2f;">The oneline test has been completed!</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>