<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        {{!-- <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Online Test Details</h3>
                            <p class="fst-italic">
                                <Strong>The Online test will be conducted on 27/04/2023 from 8.00PM - 9.00PM.</Strong>
                            </p>
                            <ul>
                                <li><i class="bx bx-link"></i>
                                    Analytical (27/04/2023 8.00PM): <br>
                                    <a
                                        href="https://www.hackerearth.com/launchpadkerala-analytical-2023">www.hackerearth.com/launchpadkerala-analytical-2023</a>
                                </li>
                                <li><i class="bx bx-link"></i>
                                    Programming (27/04/2023 8.30PM): <br>
                                    <a
                                        href="https://www.hackerearth.com/launchpadkerala-programming-2023">www.hackerearth.com/launchpadkerala-programming-2023</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>The Online Test for the Launchpad Kerala 2023 shceduled on 27.04.2023</h3>
                            <p>
                                <strong>
                                    We are pleased to inform you that the Online test for the Launchpad Kerala has been
                                    scheduled for 27.04.23. This Online Test will be a crucial component in determining
                                    the ranklist for the job fair, so participants are requested to pay careful
                                    attention and give it their best shot!
                                </strong>
                            </p>
                            <p><strong style="color: #e82f2f;">The oneline test has been completed!</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>