<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        {{!-- <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>General Updates</h3>
                            <p>Further instructions regarding the Job Fair slot allotment will be posted shortly</p>
                            <p><strong>Stay Tuned!</strong></p>
                            <ul>
                                <li><i class="bx bx-link"></i>
                                    <a href="/">Test Link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Registration Started</h3>
                            <p>The registration is open. Candidates can register through the google form provide.</p>
                            <p><strong>Registration will closing on 04-04-2023(Tuesday)</strong></p>
                            <ul>
                                <li><i class="bx bx-link"></i>
                                    <a target="_blank"
                                        href="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfKhVFcCWUUOGaye2FTKru5aBeMQh4AIAZMgswF6ungAnOcZA/formResponse">Register
                                        Now</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>