<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h3>Registration Closed</h3>
                            <p>
                                <strong>
                                    We are excited to announce that the confirmation mails, along with the unique
                                    Launchpad
                                    Kerala ID, have been sent to all registered participants who have completed the
                                    registration process. Please check your email inbox, including promotions/spam/junk
                                    folders, for an
                                    email from team@launchpadkerala.org.
                                </strong>
                            </p>
                            <p>
                                The confirmation email contains important information, including your Launchpad Kerala
                                ID, which will be required for various event-related activities. We kindly request you
                                to keep this ID safely for future reference.
                            </p>
                            <p>
                                If you have not received the confirmation email, please check your spam/junk folders.
                                If you still cannot find the email, please contact us at through the contact form on the
                                home page
                            </p>
                            <p><strong style="color: #e82f2f;">Registration closed!</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Action Required</h3>
                            <p>
                                <strong>
                                    Attention to all Launchpad Kerala 2023 Participants:
                                </strong>
                                We have noticed that some students
                                have registered on the DWMS platform of Kerala Knowledge Economy Mission (K-KEM) but
                                have not completed the registration form on our website. To ensure that you can continue
                                with Launchpad Kerala and receive confirmation, it is imperative to complete the
                                registration form on our website.
                            </p>
                            <p>
                                <strong>
                                    If you have not completed the registration process,
                                    our team has sent you an email with instructions and a link to complete the
                                    registration. Please follow the steps provided in the email. If you have already
                                    completed the registration form, kindly ignore this message.
                                </strong>
                            </p>
                            <p><strong>Thank you for your
                                    cooperation.</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h3>Registration Extended</h3>
                            <p>Registration for Launchpad Kerala 2023 is extended due to popular demand.Please Visit
                                the registration page for the detailed instructions for the registration</p>
                            <p><strong style="color: #e82f2f;">Registration closing on 23-04-2023(Sunday)</strong></p>
                            <ul>
                                <li>
                                    <i class="bx bx-link"></i>
                                    <a href="/registration">Register Now</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h3>Registration Started</h3>
                            <p>The registration is open. Candidates can apply to the Launchpad Kerala 2023. Please Visit
                                the registration page for the detailed instructions for the registration</p>
                            {{!-- <p><strong>Registration will closing on 08-04-2023(Saturday)</strong></p> --}}
                            <ul>
                                <li>
                                    <i class="bx bx-link"></i>
                                    <a href="/registration">Register Now</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
    </div>
</section>