<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Instruction for choosing recruiters</h3>
                            <p> 
                                Candidates should log in using your registered email id and fill the form for the
                                    selection of recruiters. The form shall be available for a period of 24 hours on the
                                    IEEE Job Fair website from 16 July, 11:59 PM. <strong>Please carefull read the instructions with the link below</strong>
                            </p>
                            <ul>
                                <li><i class="bx bx-link"></i>
                                    <a href="/instructions/choosing-recruiters">View Detailed Instructions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Allotment updates</h3>
                            <p> Candidates will be given option to priorities the companies. The link will be available
                                in the website from 16th, Saturday midnight onwards. The candidates are requested to fill their
                                priority within 24 hours. The final list of companies allocated to each candidate will
                                be based on the rank they secured for the online test, which will be notified via email
                                latest by 19th, Tuesday.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Online Test Rank List Published</h3>
                            {{!-- <p class="fst-italic">Round 1 - Online Test rank list has been published</p> --}}
                            <ul>
                                <li><i class="bx bx-link"></i>
                                    <a href="/rank-list">View Rank List</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>General Updates</h3>
                            <p>Further instructions regarding the Job Fair slot allotment will be posted shortly</p>
                            <p><strong>Stay Tuned!</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

        {{!-- <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Instructions for Online Test</h3>
                            <p class="fst-italic">
                                Please carefully read the instructions given below
                            </p>
                            <ul>
                                <li><i class='bx bxs-right-arrow-circle'></i><strong> The test will be conducted on
                                        09/07/2022
                                        from 8.00 PM to 9.00 PM</strong> </li>
                                <li><i class='bx bxs-right-arrow-circle'></i>The platform will be HackerEarth</li>
                                <li><i class='bx bxs-right-arrow-circle'></i></strong> Participants are to signup on the
                                    Hackerearth platform with their registered mail IDs</strong> </li>
                                <li><i class='bx bxs-right-arrow-circle'></i><strong> The Hackerearth username must be
                                        your
                                        Unique IEEE Job fair ID.</strong> </li>
                                <li><i class='bx bxs-right-arrow-circle'></i> <strong>There will be two seperate links
                                        for two
                                        sections of the mock test.</strong> One will be analytical the second one will
                                    be programming</li>
                                <li><i class='bx bxs-right-arrow-circle'></i><strong> First link will be active from
                                        8.00 PM to
                                        9:00 PM followed by the second link from 8:30 PM to 9.00 PM</strong> </li>
                                <li><i class='bx bxs-right-arrow-circle'></i>The duration of the test is set such that
                                    everyone will get sufficient time to complete it.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i>There will not be another chance for the
                                    test.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i>The test will comprise 50% programming and
                                    50%
                                    analytical. Those candidates applying for functional jobs in
                                    particular (KPO amd BPO) need not necessarily attempt the programming section of the
                                    test.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i>The link for the mock test will be provided
                                    in the updates section of the IEEE Job fair website 24 hours before the test
                                    starts. The participants will also be notified of the same by mail.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> --}}

    </div>
</section>