<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">



        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h3>Errors While seraching Results?</h3>
                            <p>
                                <strong>
                                    Only qualified candidates are able to view their results and proceed with further
                                    processes. If you are not qualified, you will not be able to access your results.
                                </strong>
                            </p>
                            <p>
                                If you encounter errors while searching for your results, it could be due to an
                                incorrect launchpad ID. Make sure to enter your launchpad ID carefully without any white
                                spaces or special characters.
                            </p>
                            <p> In case you have forgotten your launchpad ID, refer to previous emails from Team
                                Launchpad Kerala at team@launchpadkerala.org to retrieve your ID.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Results and Ranklists Published</h3>
                            <p>
                                <Strong>
                                    We are delighted to inform you that the results of the Online Test for Launchpad
                                    Kerala 2023 have been compiled, and the shortlisting process has been completed. To
                                    view your results, please visit our website and navigate to the results page. You
                                    can then access your results using your Launchpad Kerala ID and registered email ID.
                                </Strong>
                            </p>
                            <ul>
                                <li>
                                    <i class="bx bx-link"></i>
                                    <a href="/results">View Results</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>