.inner_page_section {
    // background: url("/assets/img/about-boxes-bg.jpg") center top no-repeat fixed;
    // background-size: cover;
    padding: 60px 0 30px 0;
    position: relative;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     background: rgba(255, 255, 255, 0.90);
    //     z-index: 9;
    // }

    .card {
        // width: 100%;
        border-radius: 3px;
        padding: 1rem;
        border: 0;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        border-radius: 0.5rem;

        .card-body {
            padding: 2rem;
            padding-top: 1rem;

            h4 {
                font-size: 1.5rem;
                font-weight: 700;
                color: $dark_color_1;
                margin-bottom: 1rem;
            }

            p {
                .highlight {
                    color: $color1;
                    font-weight: 800;
                }
            }

            .card-title {
                font-weight: 700;
                text-align: center;
                margin: 1rem 0rem;
                margin-bottom: 2rem;
                padding: 0;

                h3 {
                    font-family: $font-family_3;
                    font-size: 2rem;
                    color: rgba($color: $dark_color_1, $alpha: 0.8);
                    font-weight: 900;
                }

                a {
                    color: #15222b;

                    &:hover {
                        color: $color1;
                    }
                }
            }

            .card-text {
                color: #5e5e5e;


            }

            .card-footer {
                background-color: transparent;
                border: none;
                padding: 0;
                margin-top: 1rem;

                .button {
                    a {
                        width: 100%;
                        height: 100%;
                        background-color: rgba($color: $color4, $alpha: 1.0);
                        color: $white;
                        font-weight: 600;
                        padding: 0.65rem 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 0.25rem;
                        transition: all 0.3s ease;

                        .ico {
                            height: 1.2rem;
                            margin-right: 0.5rem;
                        }

                        &:hover {
                            background-color: rgba($color: $color1, $alpha: 1.0);
                        }
                    }
                }
            }
        }
    }

    .card-icon {
        text-align: center;
        margin-top: -32px;

        i {
            border: 1px solid #fff;
            font-size: 32px;
            color: #fff;
            width: 64px;
            height: 64px;
            // padding-top: 5px;
            text-align: center;
            background-color: $color1;
            border-radius: 4px;
            text-align: center;
            border: 4px solid #fff;
            transition: 0.3s;
            display: inline-block;
        }
    }






    .content h3 {
        font-weight: 700;
        font-size: 1.5rem;
        color: #263d4d;
    }

    .content ul {
        margin: 1.5rem 0rem;
        margin-bottom: 0;
        list-style: none;
        padding: 0;
    }

    .content ul li {
        padding: 0.3rem;
        padding-left: 28px;
        position: relative;

        &:last-child {
            padding-bottom: 0;
        }
    }

    .content ul i {
        font-size: 24px;
        color: $color1;
        position: absolute;
        left: 0;
        // top: -2px;
    }

    .content p:last-child {
        margin-bottom: 0;
    }

    .pdf {
        background-color: #15222b;
        height: 100vh;
    }
}

@media (max-width: 1200px) {
    .inner_page_section {

        .card {

            .card-body {
                padding: 1.5rem;
            }
        }
    }
}
@media (max-width: 960px) {
    .inner_page_section {

        .card {

            .card-body {
                padding: 1rem;
            }
        }
    }
}
@media (max-width: 720px) {
    .inner_page_section {

        .card {

            .card-body {
                padding: 0.25rem;
            }
        }
    }
}