<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-12 col-md-10" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h3><strong>Appy for Recruiter Allotment</strong></h3>
                            <p class="mt-4" style="color:#ff3838; font-weight: 700">
                                Remember to carefully review each pool and its recruiters, prioritize your preferred
                                pool based on location and preference, attend offline interviews, and keep in mind that
                                the allotment is based on the requirements of the companies in the
                                pools.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-5" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h4>Pool A - Trivandrum</h4>
                            <ul>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 1</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 2</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 3</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 4</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 5</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 6</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 7</strong></h5>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-5" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h4>Pool D - Trivandrum</h4>
                            <ul>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 1</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 2</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 3</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 4</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 5</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 6</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 7</strong></h5>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-5" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h4>Pool C - Kochi</h4>
                            <ul>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 1</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 2</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 3</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 4</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 5</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 6</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 7</strong></h5>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-5" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h4>Pool D - Kochi</h4>
                            <ul>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 1</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 2</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 3</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 4</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 5</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 6</strong></h5>
                                </li>
                                <li>
                                    <i class='bx bx-right-arrow'></i>
                                    <h5><strong>Recruiter 7</strong></h5>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-md-10" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <p class="mt-4">
                                <strong>
                                Please review the pools and make your choice. Once it has been submitted it can't
                                be changed.
                                </strong>
                            </p>
                            <h5><strong> Best of luck!</strong></h5>
                        </div>
                        <div class="card-footer">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/allotment/apply">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                        Apply for allotment
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>