<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h3>Appy for Recruiter Allotment</h3>
                            <p class="mt-4">
                                Launchpad Kerala 2023's recruiter allotment process is now open. All the recruiters
                                registered for Launchpad Kerala will be divided into four pools.
                                <strong> If you've been
                                    shortlisted, you can apply for the allotment process using the link provided on the
                                    website.</strong>
                            </p>
                            <p>
                                <strong style="color: #ff3838;">Applying for the allotment doesn't guarantee that you will be allocated a interview slot.
                                Based on the options selected, the rank of the candidate, application details, and the
                                requisites of the applied recruiter pool, a single allotment will be made.</strong> Therefore, it is crucial to read and review the pool and recruiter details
                                carefully before applying for an allotment. The eligibility of each candidate will also
                                be rechecked during the offline interviews.
                            </p>
                            <p>
                                <strong>The recruiters are divided into four pools two at Kochi and two at
                                    Trivandrum.</strong> You can
                                prioritize your preferred pool based on location and preference when you apply for
                                allotment. However, <strong style="color: #ff3838;">attending offline interviews is
                                    mandatory, and failure to do so will
                                    result in blacklisting or suspension from future events.</strong>
                            </p>
                            <p> <strong>Make sure to review each pool and its recruiters' details before applying for
                                    allotment.</strong>
                                Keep in mind that the allotment is based on the requirements of the companies in the
                                pools, and <strong>there's no guarantee that you'll be able to attend all companies in
                                    the
                                    allotted pool. Your eligibility will be rechecked at the time of offline
                                    interviews.</strong>
                            </p>
                            <p style="color:#ff3838; font-weight: 700">
                                Remember to carefully review each pool and its recruiters, prioritize your preferred
                                pool based on location and preference, attend offline interviews, and keep in mind that
                                the allotment is based on the requirements of the companies in the
                                pools.
                            </p>
                            <h5><strong> Best of luck!</strong></h5>
                        </div>
                        <div class="card-footer">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="allotment/recruiters/pools">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        View Recruiter Pools
                                    </a>
                                </div>
                            </div>
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/allotment/recruiters">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                        Apply for allotment
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h3>Errors While Applying?</h3>
                            <p>
                                <strong>
                                    Only qualified candidates are able to apply for the allotment process. If you are
                                    not qualified, you will not be able to apply for allotment.
                                </strong>
                            </p>
                            <p>
                                If you encounter errors while searching for your results, it could be due to an
                                incorrect launchpad ID. Make sure to enter your launchpad ID carefully without any white
                                spaces or special characters.
                            </p>
                            <p> In case you have forgotten your launchpad ID, refer to previous emails from Team
                                Launchpad Kerala at team@launchpadkerala.org to retrieve your ID.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>