<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Online Test Date</h3>
                            <p class="fst-italic">
                                <Strong>The Online test will be conducted on 09/07/2022 from 8.00PM - 9.00PM.</Strong>
                            </p>
                            <ul>
                                <li><i class="bx bx-link"></i>
                                    Analytical (09/07/2022 8.00PM): <br>
                                    <a
                                        href="https://www.hackerearth.com/ieee-jobfair-analytical">www.hackerearth.com/ieee-jobfair-analytical</a>
                                </li>
                                <li><i class="bx bx-link"></i>
                                    Programming (09/07/2022 8.30PM): <br>
                                    <a
                                        href="https://www.hackerearth.com/ieee-jobfair-programming">www.hackerearth.com/ieee-jobfair-programming</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Instructions for Online Test</h3>
                            <p class="fst-italic">
                                Please carefully read the instructions given below
                            </p>
                            <ul>
                                <li><i class='bx bxs-right-arrow-circle'></i><strong> The test will be conducted on
                                        09/07/2022
                                        from 8.00 PM to 9.00 PM</strong> </li>
                                <li><i class='bx bxs-right-arrow-circle'></i>The platform will be HackerEarth</li>
                                <li><i class='bx bxs-right-arrow-circle'></i></strong> Participants are to signup on the
                                    Hackerearth platform with their registered mail IDs</strong> </li>
                                <li><i class='bx bxs-right-arrow-circle'></i><strong> The Hackerearth username must be
                                        your
                                        Unique IEEE Job fair ID.</strong></li>
                                <li><i class='bx bxs-right-arrow-circle'></i> <strong>There will be two seperate
                                        links
                                        for two
                                        sections of the mock test.</strong> One will be analytical the second one will
                                    be programming</li>
                                <li><i class='bx bxs-right-arrow-circle'></i></strong> Participants are to loging to the
                                    hackerEarth atleast 5 minutes before the test starts</strong> </li>
                                <li><i class='bx bxs-right-arrow-circle'></i><strong> First link will be active from
                                        8.00 PM to
                                        9:00 PM followed by the second link from 8:30 PM to 9.00 PM</strong> </li>
                                <li><i class='bx bxs-right-arrow-circle'></i>The duration of the test is set such that
                                    everyone will get sufficient time to complete it.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i>There will not be another chance for the
                                    test.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i>The test will comprise 50% programming and
                                    50%
                                    analytical. Those candidates applying for functional jobs in
                                    particular (KPO amd BPO) need not necessarily attempt the programming section of the
                                    test.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i>The link for the mock test will be provided
                                    in the updates section of the IEEE Job fair website 24 hours before the test
                                    starts. The participants will also be notified of the same by mail.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>