<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Instruction for choosing recruiters</h3>
                            <p class="fst-italic">
                                Please carefully read the instructions given below
                            </p>
                            <ul>
                                <li><i class='bx bxs-right-arrow-circle'></i>Candidates should log in using your
                                    registered email id and fill the form for the selection of recruiters. The form
                                    shall be available for a period of <strong>24 hours</strong> on the IEEE Job Fair
                                    website from 16
                                    July, 11:59 PM.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i>Any request to extend the deadline for
                                    filling the form will not be entertained.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i>Kindly provide the data required in the
                                    form accurately and appropriately.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i><strong>Recruiters have been
                                        Grouped</strong> based on the
                                    job requirements and benefits offered. Candidates are to rank the groups in their
                                    <strong>order of preference</strong>.
                                </li>
                                <li style="color: #FC4F4F; font-weight:600"><i class='bx bxs-right-arrow-circle'></i>The
                                    portfolio of the recruiters will be
                                    available for your perusal. Do go through them and understand the job requirements
                                    and eligibilty criteria
                                    carefully before making your choice.</li>
                                <li style="font-weight:700"><i class='bx bxs-right-arrow-circle'></i>The
                                    Students with current backpapers should look at readme files of companies closely and select group priority</li>
                                <li style="color: #FC4F4F; font-weight:600"><i class='bx bxs-right-arrow-circle'></i>A
                                    choice once made CANNOT be changed under
                                    any circumstance. So, candidates are to verify their choices before submission.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i>The exact slot will be allotted to the
                                    candidates based on their ranks in Round 1 and preferences filed. The same shall be
                                    notified by email latest by 19 July,2022.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i>The email slating your slot for the
                                    interview will serve as the admission letter for the Round 2 offline interview at
                                    Infopark, Kochi. Only the candidates who have received the mail shall be allowed to
                                    attend the interviews.</li>
                                <li><i class='bx bxs-right-arrow-circle'></i>Those who fail to produce the email at the
                                    venue will not be allowed to sit for the interviews.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Recruiters' allotment portfolio</h3>
                            <p style="color: #FC4F4F; font-weight:600">
                                Please understand the above instructions clearly before you proceed with the selection
                                of slots
                            </p>
                            <ul>
                                <li>
                                    <i class='bx bx-link'></i>
                                    <a href="https://drive.google.com/drive/folders/1yW2G_kfLHXu_56C6XbpkqcANzRwBkdz5" target="_blank"><strong>View Recruiters portfolio and eligibility criteria</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Recruiters' allotment Registration</h3>
                            <p style="color: #FC4F4F; font-weight:600">
                                Please understand the above instructions clearly and look at readme files of companies closely before you proceed with the selection
                            </p>
                            <ul>
                                <li>
                                    <i class='bx bx-link'></i>
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmGK6CtEcWMGLW5dvKg7XZePVPZeG3kMxHgrlCxSMVBzSoIA/viewform?usp=sf_link" target="_blank"><strong>Registration form for recruiter allotment</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>