<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="pdf">
            <object data="/assets/doc/Rank List.pdf" type="application/pdf" width="100%" height="100%">
                <p>get access from<a href="https://drive.google.com/file/d/1p7c7l84eiry6Cs2wTokPjPKCQOxXmCCh/view">Google Dive</a></p>
            </object>
        </div>

    </div>
</section>