<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Registration</h2>
            <p>Registration Process</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        {{!-- <div class="card-title">
                            <h3>
                                Registration
                            </h3>
                        </div> --}}
                        <p>The registration is open. Candidates can apply to the Launchpad Kerala 2023</p>
                        {{!-- <h4>Registration Process</h4> --}}
                        <ul>
                            <li>
                                <h5>
                                    <strong>Step 1:</strong> Registration on DWMS Portal
                                </h5>
                                <p>
                                    The candidates interested in taking part in the job fair can register themselves.
                                    To complete the application candidate first register on <a
                                        href="https://knowledgemission.kerala.gov.in/verify-registration.jsp">Digital
                                        Workforce
                                        Management Portal</a> of Kerala Knowledge Economy Mission
                                    and apply for the Launchpad Kerala 2023 using the Job ID <span
                                        class="highlight">17890</span> through
                                    Digital Workforce management portal.
                                </p>
                                <p>
                                    If the candidates are already registered in <a
                                        href="https://knowledgemission.kerala.gov.in/verify-registration.jsp">Digital
                                        Workforce
                                        Management Portal</a> they can simply login in to the portal and search for the
                                    Launchpad Kerala 2023 using the Job ID <span class="highlight">17890</span>.
                                </p>
                            </li>
                            <li>
                                <h5>
                                    <strong>Step 2:</strong> Registration on GTech μLearn
                                </h5>
                                <p>
                                    Then the candidated should register on <a href="https://mulearn.org">GTech
                                        μLearn</a>
                                    and find their μLearn ID for completing the registration form. For more details
                                    please see <a href="http://mulearn.org/onboardingflow">Join GTech μLearn</a>.
                                </p>
                                <p>
                                    If the candidates are already registered on <a
                                        href="https://mulearn.org">μLearn</a>, please use /get-muid in any channel to
                                    find your µLearn ID and use /rank to generate your rank card. You'll need these to
                                    complete the registration process
                                </p>
                                <p>
                                    In case you face any issues while onboarding, or generating your ID or rank, please
                                    use the "/support-ticket" command in anychannel
                                </p>
                            </li>
                            <li>
                                <h5>
                                    <strong>Step 3:</strong> Registration Form
                                </h5>
                                <p>
                                    After successfully applying through Digital Workforce management portal to the
                                    Launchpad Kerala 2023 through the DWMS portal candidate must register through a
                                    registration form in order to complete the
                                    application for Launchpad Kerala 2023. The registration form are given below
                                </p>
                            </li>
                            <li>
                                <h5>
                                    <strong>Step 4:</strong> Confirmation
                                </h5>
                                <p>
                                    The candidates will receive an email from the Launchpad Kerala 2023 team after
                                    registration closes.
                                    The candidates will be informed about the next steps either through an email or text
                                    messages. All updates will be posted on the <a href="/updates"><span
                                            class="highlight">updates</span></a> page website of Launchpad Kerala
                                    2023.
                                </p>
                            </li>
                        </ul>
                        {{!-- <p><strong>Registration will closing on 08-04-2023(Saturday)</strong></p> --}}
                        <div class="card-footer">
                            <div class="button row">
                                <div class="col-12">
                                    <a href="https://knowledgemission.kerala.gov.in/verify-registration.jsp"
                                        target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        Register on DWMS Portal
                                    </a>
                                </div>
                            </div>
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="http://mulearn.org/onboardingflow" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        Register on GTech μLearn
                                    </a>
                                </div>
                            </div>
                            <div class="button mt-4 row">
                                <div class="col-12">
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe3JF1afi2-YlYUGOlotLys5dbUiU4bLxDDojbeefkDLlyKHQ/viewform?usp=sf_link"
                                        target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                        Complete the registration form
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>