<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h3>Results and Ranklists Published</h3>
                            <p>
                                We are delighted to inform you that the results of the Online Test for Launchpad Kerala
                                2023 have been compiled, and the shortlisting process has been completed. You can check
                                the reults using the link given below.
                            </p>
                            <p>
                                If you have
                                qualified for further rounds of the selection process, congratulations! You are one step
                                closer to securing a job opportunity at Launchpad Kerala 2023. Please stay tuned for
                                further updates and follow the instructions provided on our website.
                            </p>
                            <p> For those who were not shortlisted, we encourage you not to be discouraged and to
                                continue to work hard towards achieving your career goals. Keep learning and improving
                                your skills, and take advantage of other job opportunities available to you.</p>
                            <p style="color:#ff3838; font-weight: 700">
                                Results of this test and Ranklist will be used for the recruiter allotment
                                process and offline interviews.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/results/view">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                        View Results
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>